@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #f1f5f9;
  --foreground: #0a0a0a;

  --primary: #2563eb;
  --primary-dark: #1d4ed8;
  --primary-light: #3b82f6;

  --text-primary: #64748b;
  --text-dark: #334155;

  --gray-200: #e2e8f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter-tight);
  --color-background-secondary: var(--background-secondary);
  --color-text-primary: var(--text-primary);
  --color-text-dark: var(--text-dark);
  --color-gray-200: var(--gray-200);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

html {
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter";
}
